@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

* {
    text-decoration: none;
    box-sizing: border-box;
}

.sec1 {
    background-color: #d4d0c1;
    border: 2px solid transparent;
    border-radius: 7px;
    box-shadow: 0 0 0 1px rgba(116, 92, 92, 0.815), 0 2px 15px rgba(82, 35, 4, 0.473);
}   

.msec .column {
    border: 2px solid transparent;
    border-radius: 8px;
    box-shadow: 0 0 0 1px rgba(223, 222, 222, 0.37), 0 2px 15px rgba(231, 175, 134, 0.219);
}

p {
    padding: 0.5rem 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(34, 0, 61);
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    padding-left: 5rem;
}

h2 {
    padding-left: 7rem;
}

a {
    z-index: 1;
    transition: all .2s;
    position: relative;
    max-width: fit-content;
    display: block;
    margin: 0 auto;
}

a:hover {
    text-decoration: none;
    transform: translate(-1px,-1px);
}

.button {
    display: block;
    z-index: 0;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: #000;
    text-align: center;
    background-color: rgba(255,255,255,.3);
    border-radius: 0.25rem;
    padding: 2.5rem 6rem;
    margin-bottom: 2rem;
    font-weight: 500;
    transition: all .2s;
    position: relative;
    transform: translate(0);
    box-shadow: 1px 1px 1rem rgb(26 26 26 / 15%);
}

.button:hover {
    text-decoration: none;
    transform: translate(-1px,-1px);
}

.button_bg-grad {
    z-index: -2;
    background: linear-gradient(20deg, rgb(206, 148, 121) 0%, rgb(243, 225, 167) 100%);
    background-position: 0 0;
    background-size: cover;
    border-radius: 4px;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    transform: translate(0.5rem,0.5rem);
    pointer-events: none;
}

.image img {
    width: 22.5rem;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin-top: 0.75rem;
    margin-bottom: 1rem;
    border: 2px solid transparent;
    border-radius: 20px;
    box-shadow: 0 0 0 1px rgba(2, 0, 0, 0.37), 0 2px 15px rgba(27, 5, 5, 0.438);
}

iframe {
    margin-top: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 0 0 0 1px rgba(2, 0, 0, 0.37), 0 2px 15px rgba(27, 5, 5, 0.438);
}

footer {
	width: 100vw;
	height: 20px;
	position: fixed;
	bottom: 0;
	left: 0;
	background: #ebe8df;
}

#footer__progress_bar {
	height: 20px;
	background: rgba(182, 103, 0, 0.568);
	width: 0%;
}


